/* 
   Global Styles for Bogi Horvath Landing Page 
   Tailwind CSS is used for the majority of styling.
*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}